openapi: 3.2.0
info:
  title: Telnyx Verify Number Lookup API
  description: The Telnyx Verify API is a two-factor authentication (2FA) and phone-number verification service, and Telnyx Number Lookup is a number-intelligence (carrier / caller-name / portability) service.
  version: 2.0.0
  contact:
    name: Telnyx Developers
    url: https://developers.telnyx.com
  license:
    name: Telnyx Terms of Service
    url: https://telnyx.com/terms-and-conditions
servers:
- url: https://api.telnyx.com/v2
  description: Telnyx API v2
security:
- bearerAuth: []
tags:
- name: Number Lookup
  description: Carrier, caller-name (CNAM), and portability intelligence for a phone number.
paths:
  /number_lookup/{phone_number}:
    get:
      operationId: lookupNumber
      tags:
      - Number Lookup
      summary: Lookup phone number data
      description: Returns number-intelligence data for the provided E.164 phone number. Without a `type` value the base object is returned; request `carrier` and/or `caller-name` to populate those sections (carrier, line type, CNAM caller name, portability city/state).
      parameters:
      - $ref: '#/components/parameters/PhoneNumberPath'
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - carrier
          - caller-name
        description: Specifies the type of number lookup to perform. May be repeated to request both carrier and caller-name data.
      responses:
        '200':
          description: Number lookup data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberLookupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    NumberLookupResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            country_code:
              type: string
            phone_number:
              type: string
            national_format:
              type: string
            fraud:
              type:
              - string
              - 'null'
            portability:
              type:
              - object
              - 'null'
              description: Portability data including city and state.
            caller_name:
              type:
              - object
              - 'null'
              description: CNAM caller-name data (null unless caller-name requested).
            carrier:
              type:
              - object
              - 'null'
              description: Carrier and line-type data (null unless carrier requested).
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
  parameters:
    PhoneNumberPath:
      name: phone_number
      in: path
      required: true
      schema:
        type: string
      description: The phone number in E.164 format, e.g. +15551234567.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API v2 key passed as `Authorization: Bearer YOUR_API_KEY`. Create keys in the Telnyx Mission Control Portal under Auth / API Keys.'
